Flask>=2.0.0,<2.2.0
flask-accepts>=0.17.0
flask-restx>=0.5.1
Flask-SQLAlchemy>=2.4.0
Flask-WTF>=0.14.3
markdown
marshmallow>=3.9.0,<4
mistune<2
multimethod>=1.5
plantuml-markdown
pymdown-extensions
recommonmark
Sphinx>=4.5.0,<5
sphinx-autobuild
sphinx-autodoc-typehints
sphinx-book-theme>=0.3.3
sphinx-copybutton>=0.5.0
sphinx-design>=0.1.0
sphinx-togglebutton>=0.3.2
sphinxcontrib-openapi
SQLAlchemy>=1.4.0
typing-extensions>=3.7.4.0
werkzeug>=1.0.0,<=2.1.2
