.clog.toml
.cz-config.js
.envrc
.flake8
.gitlab-ci.yml
.gitlint
.isort.cfg
.markdownlint.json
.pre-commit-config.yaml
.rstcheck.cfg
app-data
bin
build
ci
coverage
data
docs/build
examples
htmlcov
img
models
notebooks
pip-wheel-metadata
results
site
target
task-plugins
venv
venv.bak
wheels

*.egg-info
*.md
*.pyc
*.pyo
**/__pycache__
**/.cache
**/.eggs
**/.git
**/.gitkeep
**/.idea
**/.lsp_symlink
**/.mypy_cache
**/.pytest_cache
**/.tox
**/.virtual_documents
**/.vscode
**/.vscode-cache
**/*.egg-info
**/*.md
**/*.pyc
**/*.pyo

!README*.md
