.clog.toml
.cz-config.js
.envrc
.gitlab-ci.yml
.gitlint
.isort.cfg
.pre-commit-config.yaml
app-data
bin
build
ci
data
docs
examples
htmlcov
img
models
notebooks
pip-wheel-metadata
results
site
target
tests*
venv
venv.bak
wheels

*.egg-info
*.m4
*.md
*.pyc
*.pyo
**/__pycache__
**/.cache
**/.eggs
**/.git
**/.idea
**/.lsp_symlink
**/.mypy_cache
**/.pytest_cache
**/.tox
**/.virtual_documents
**/.vscode
**/*.egg-info
**/*.m4
**/*.md
**/*.pyc
**/*.pyo

!README*.md
!build/dist/*.whl
