[flake8]
max-line-length = 80
max-complexity = 12
select = B,C,E,F,W,B9
ignore = E203,E302,E501,W503,B905,B907,B909
per-file-ignores =
    examples/*/src/*.py:E402
extend-exclude =
    .ipynb_checkpoints
    alembic
