include CHANGELOG.md tox.ini
recursive-include src/dioptra *.json *.tmpl
recursive-include src/dioptra/restapi/db/alembic README *.mako *.ini

graft docs
graft tests

prune docker
prune docs/build
prune examples

global-exclude .* *.py[cod]
