--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cpu/torch1.10/index.html
detectron2==0.6; sys_platform == 'linux' and python_version == '3.9' and platform_machine == 'x86_64'
pytorch-lightning; python_version == '3.9'
torch==2.2.0; (sys_platform == 'win32' or sys_platform == 'linux') and python_version == '3.9' and (platform_machine == 'x86_64' or platform_machine == 'amd64' or platform_machine == 'AMD64')
torchaudio==2.2.0; (sys_platform == 'win32' or sys_platform == 'linux') and python_version == '3.9' and (platform_machine == 'x86_64' or platform_machine == 'amd64' or platform_machine == 'AMD64')
torchvision==0.17.0; (sys_platform == 'win32' or sys_platform == 'linux') and python_version == '3.9' and (platform_machine == 'x86_64' or platform_machine == 'amd64' or platform_machine == 'AMD64')
torch==2.2.0; python_version == '3.9' and (sys_platform == 'darwin' or (sys_platform == 'linux' and platform_machine == 'aarch64'))
torchaudio==2.2.0; python_version == '3.9' and (sys_platform == 'darwin' or (sys_platform == 'linux' and platform_machine == 'aarch64'))
torchvision==0.17.0; python_version == '3.9' and (sys_platform == 'darwin' or (sys_platform == 'linux' and platform_machine == 'aarch64'))
maite[all_interop]==0.4.0; python_version == '3.9'