tensorflow-cpu==2.9.1; (sys_platform == "win32" or sys_platform == "linux") and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64")
tensorflow-macos==2.9.1; sys_platform == "darwin"
tensorflow-metal; sys_platform == "darwin"
