--find-links https://download.pytorch.org/whl/cu113/torch_stable.html
--find-links https://dl.fbaipublicfiles.com/detectron2/wheels/cu113/torch1.10/index.html
detectron2==0.6+cu113; sys_platform == 'linux' and python_version == '3.9' and (platform_machine == 'x86_64' or platform_machine == 'amd64' or platform_machine == 'AMD64')
pytorch-lightning; python_version == '3.9'
torch==1.10.2+cu113; sys_platform == 'linux' and python_version == '3.9' and (platform_machine == 'x86_64' or platform_machine == 'amd64' or platform_machine == 'AMD64')
torchaudio==0.10.2+cu113; sys_platform == 'linux' and python_version == '3.9' and (platform_machine == 'x86_64' or platform_machine == 'amd64' or platform_machine == 'AMD64')
torchvision==0.11.3+cu113; sys_platform == 'linux' and python_version == '3.9' and (platform_machine == 'x86_64' or platform_machine == 'amd64' or platform_machine == 'AMD64')
