### Optional "Environment Info"
### Maps to an environment variable DIOPTRA_CONFIG_INFO verbatim
### If absent a digest of environment SETTINGS will be 
### generated IN  DIOPTRA_CONFIG_DETAILS
DIOPTRA_CONFIG_INFO="Dioptra Environment for Flask Debugging"

### Env Variable for GitHub Branch 
DIOPTRA_GIT_BRANCH=dev

### Env Variable for Deployment Path
DIOPTRA_DEPLOY_DIR=~/dio/dio1-dep

### Env Variable for Source Path
DIOPTRA_CODE_DIR=~/dio/dio1-src