MINIO_ROOT_USER=dioptra-admin
MINIO_ROOT_PASSWORD={{ "{{ minio_root_password }}" }}
MINIO_MLFLOW_TRACKING_USER=dioptra-mlflow-tracking
MINIO_MLFLOW_TRACKING_PASSWORD={{ "{{ minio_mlflow_tracking_password }}" }}
MINIO_MLFLOW_TRACKING_POLICIES=mlflow-tracking-readwrite
MINIO_RESTAPI_USER=dioptra-restapi
MINIO_RESTAPI_PASSWORD={{ "{{ minio_restapi_password }}" }}
MINIO_RESTAPI_POLICIES=builtin-plugins-readwrite,custom-plugins-readwrite,workflow-uploadonly
MINIO_WORKER_USER=dioptra-worker
MINIO_WORKER_PASSWORD={{ "{{ minio_worker_password }}" }}
MINIO_WORKER_POLICIES=builtin-plugins-readonly,custom-plugins-readonly,mlflow-tracking-readwrite,workflow-downloadonly
{{ "{{ '' }}" }}
