@charset "UTF-8";

/*! securing-ai-testbed CSS
 */
/* This Software (Dioptra) is being made available as a public service by the
National Institute of Standards and Technology (NIST), an Agency of the United
States Department of Commerce. This software was developed in part by employees of
NIST and in part by NIST contractors. Copyright in portions of this software that
were developed by NIST contractors has been licensed or assigned to NIST. Pursuant
to Title 17 United States Code Section 105, works of NIST employees are not
subject to copyright protection in the United States. However, NIST may hold
international copyright in software created by its employees and domestic
copyright (or licensing rights) in portions of software that were assigned or
licensed to NIST. To the extent that NIST holds copyright in this software, it is
being made available under the Creative Commons Attribution 4.0 International
license (CC BY 4.0). The disclaimers of the CC BY 4.0 license apply to all parts
of the software developed or licensed by NIST.

ACCESS THE FULL CC BY 4.0 LICENSE HERE:
https://creativecommons.org/licenses/by/4.0/legalcode */
/*********************************************
* Main body *
*********************************************/
main.bd-content #main-content dl.get,
main.bd-content #main-content dl.put,
main.bd-content #main-content dl.delete,
main.bd-content #main-content dl.post {
  margin-bottom: 24px;
}

main.bd-content #main-content dl.get dt,
main.bd-content #main-content dl.put dt,
main.bd-content #main-content dl.delete dt,
main.bd-content #main-content dl.post dt {
  font-weight: bold;
}

main.bd-content #main-content dl.get dt .headerlink,
main.bd-content #main-content dl.put dt .headerlink,
main.bd-content #main-content dl.delete dt .headerlink,
main.bd-content #main-content dl.post dt .headerlink {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: inherit;
  visibility: hidden;
  font-size: 14px;
}

main.bd-content #main-content dl.get dt .headerlink:before,
main.bd-content #main-content dl.put dt .headerlink:before,
main.bd-content #main-content dl.delete dt .headerlink:before,
main.bd-content #main-content dl.post dt .headerlink:before {
  -webkit-font-smoothing: antialiased;
  font-family: "FontAwesome";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
}

main.bd-content #main-content dl.get dt .headerlink:after,
main.bd-content #main-content dl.put dt .headerlink:after,
main.bd-content #main-content dl.delete dt .headerlink:after,
main.bd-content #main-content dl.post dt .headerlink:after {
  content: "ÔÉÅ";
  font-family: FontAwesome;
}

main.bd-content #main-content dl.get dt .fa-pull-left.headerlink,
main.bd-content #main-content dl.put dt .fa-pull-left.headerlink,
main.bd-content #main-content dl.delete dt .fa-pull-left.headerlink,
main.bd-content #main-content dl.post dt .fa-pull-left.headerlink {
  margin-right: .3em;
}

main.bd-content #main-content dl.get dt .fa-pull-right.headerlink,
main.bd-content #main-content dl.put dt .fa-pull-right.headerlink,
main.bd-content #main-content dl.delete dt .fa-pull-right.headerlink,
main.bd-content #main-content dl.post dt .fa-pull-right.headerlink {
  margin-left: .3em;
}

main.bd-content #main-content dl.get dt .pull-left.headerlink,
main.bd-content #main-content dl.put dt .pull-left.headerlink,
main.bd-content #main-content dl.delete dt .pull-left.headerlink,
main.bd-content #main-content dl.post dt .pull-left.headerlink {
  margin-right: .3em;
}

main.bd-content #main-content dl.get dt .pull-right.headerlink,
main.bd-content #main-content dl.put dt .pull-right.headerlink,
main.bd-content #main-content dl.delete dt .pull-right.headerlink,
main.bd-content #main-content dl.post dt .pull-right.headerlink {
  margin-left: .3em;
}

main.bd-content #main-content dl.get dt a .headerlink,
main.bd-content #main-content dl.put dt a .headerlink,
main.bd-content #main-content dl.delete dt a .headerlink,
main.bd-content #main-content dl.post dt a .headerlink {
  display: inline-block;
  text-decoration: inherit;
}

main.bd-content #main-content dl.get dt .btn .headerlink,
main.bd-content #main-content dl.put dt .btn .headerlink,
main.bd-content #main-content dl.delete dt .btn .headerlink,
main.bd-content #main-content dl.post dt .btn .headerlink {
  display: inline;
}

main.bd-content #main-content dl.get dt .btn .fa-large.headerlink,
main.bd-content #main-content dl.put dt .btn .fa-large.headerlink,
main.bd-content #main-content dl.delete dt .btn .fa-large.headerlink,
main.bd-content #main-content dl.post dt .btn .fa-large.headerlink {
  line-height: .9em;
}

main.bd-content #main-content dl.get dt .btn .fa-spin.headerlink,
main.bd-content #main-content dl.put dt .btn .fa-spin.headerlink,
main.bd-content #main-content dl.delete dt .btn .fa-spin.headerlink,
main.bd-content #main-content dl.post dt .btn .fa-spin.headerlink {
  display: inline-block;
}

main.bd-content #main-content dl.get dt .nav .headerlink,
main.bd-content #main-content dl.put dt .nav .headerlink,
main.bd-content #main-content dl.delete dt .nav .headerlink,
main.bd-content #main-content dl.post dt .nav .headerlink {
  display: inline;
}

main.bd-content #main-content dl.get dt .nav .fa-large.headerlink,
main.bd-content #main-content dl.put dt .nav .fa-large.headerlink,
main.bd-content #main-content dl.delete dt .nav .fa-large.headerlink,
main.bd-content #main-content dl.post dt .nav .fa-large.headerlink {
  line-height: .9em;
}

main.bd-content #main-content dl.get dt .nav .fa-spin.headerlink,
main.bd-content #main-content dl.put dt .nav .fa-spin.headerlink,
main.bd-content #main-content dl.delete dt .nav .fa-spin.headerlink,
main.bd-content #main-content dl.post dt .nav .fa-spin.headerlink {
  display: inline-block;
}

main.bd-content #main-content dl.get dt .btn.headerlink:before,
main.bd-content #main-content dl.put dt .btn.headerlink:before,
main.bd-content #main-content dl.delete dt .btn.headerlink:before,
main.bd-content #main-content dl.post dt .btn.headerlink:before {
  opacity: .5;
  -webkit-transition: opacity .05s ease-in;
  -moz-transition: opacity .05s ease-in;
  transition: opacity .05s ease-in;
}

main.bd-content #main-content dl.get dt .btn.headerlink:hover:before,
main.bd-content #main-content dl.put dt .btn.headerlink:hover:before,
main.bd-content #main-content dl.delete dt .btn.headerlink:hover:before,
main.bd-content #main-content dl.post dt .btn.headerlink:hover:before {
  opacity: 1;
}

main.bd-content #main-content dl.get dt .btn-mini .headerlink:before,
main.bd-content #main-content dl.put dt .btn-mini .headerlink:before,
main.bd-content #main-content dl.delete dt .btn-mini .headerlink:before,
main.bd-content #main-content dl.post dt .btn-mini .headerlink:before {
  font-size: 14px;
  vertical-align: -15%;
}

main.bd-content #main-content dl.get dt .rst-versions .rst-current-version .headerlink,
main.bd-content #main-content dl.put dt .rst-versions .rst-current-version .headerlink,
main.bd-content #main-content dl.delete dt .rst-versions .rst-current-version .headerlink,
main.bd-content #main-content dl.post dt .rst-versions .rst-current-version .headerlink {
  color: #fcfcfc;
}

main.bd-content #main-content dl.get dt:hover .headerlink:after,
main.bd-content #main-content dl.put dt:hover .headerlink:after,
main.bd-content #main-content dl.delete dt:hover .headerlink:after,
main.bd-content #main-content dl.post dt:hover .headerlink:after {
  visibility: visible;
}

main.bd-content #main-content dl.get p,
main.bd-content #main-content dl.put p,
main.bd-content #main-content dl.delete p,
main.bd-content #main-content dl.post p {
  margin-bottom: 12px !important;
}

main.bd-content #main-content dl.get table,
main.bd-content #main-content dl.put table,
main.bd-content #main-content dl.delete table,
main.bd-content #main-content dl.post table {
  margin-bottom: 12px !important;
}

main.bd-content #main-content dl.get ul,
main.bd-content #main-content dl.put ul,
main.bd-content #main-content dl.delete ul,
main.bd-content #main-content dl.post ul {
  margin-bottom: 12px !important;
}

main.bd-content #main-content dl.get ol,
main.bd-content #main-content dl.put ol,
main.bd-content #main-content dl.delete ol,
main.bd-content #main-content dl.post ol {
  margin-bottom: 12px !important;
}

main.bd-content #main-content dl.get dd,
main.bd-content #main-content dl.put dd,
main.bd-content #main-content dl.delete dd,
main.bd-content #main-content dl.post dd {
  margin: 0 0 12px 24px;
}

main.bd-content #main-content dl.get:not(.docutils),
main.bd-content #main-content dl.put:not(.docutils),
main.bd-content #main-content dl.delete:not(.docutils),
main.bd-content #main-content dl.post:not(.docutils) {
  margin-bottom: 24px;
}

main.bd-content #main-content dl.get:not(.docutils) dt,
main.bd-content #main-content dl.put:not(.docutils) dt,
main.bd-content #main-content dl.delete:not(.docutils) dt,
main.bd-content #main-content dl.post:not(.docutils) dt {
  display: table;
  margin: 6px 0;
  font-size: 90%;
  line-height: normal;
  background: #e7f2fa;
  color: #2980B9;
  border-top: solid 3px #6ab0de;
  padding: 6px;
  position: relative;
}

main.bd-content #main-content dl.get:not(.docutils) dt:before,
main.bd-content #main-content dl.put:not(.docutils) dt:before,
main.bd-content #main-content dl.delete:not(.docutils) dt:before,
main.bd-content #main-content dl.post:not(.docutils) dt:before {
  color: #6ab0de;
}

main.bd-content #main-content dl.get:not(.docutils) dt .headerlink,
main.bd-content #main-content dl.put:not(.docutils) dt .headerlink,
main.bd-content #main-content dl.delete:not(.docutils) dt .headerlink,
main.bd-content #main-content dl.post:not(.docutils) dt .headerlink {
  color: #404040;
  font-size: 100% !important;
}

main.bd-content #main-content dl.get:not(.docutils) dt:first-child,
main.bd-content #main-content dl.put:not(.docutils) dt:first-child,
main.bd-content #main-content dl.delete:not(.docutils) dt:first-child,
main.bd-content #main-content dl.post:not(.docutils) dt:first-child {
  margin-top: 0;
}

main.bd-content #main-content dl.get:not(.docutils) dl dt,
main.bd-content #main-content dl.put:not(.docutils) dl dt,
main.bd-content #main-content dl.delete:not(.docutils) dl dt,
main.bd-content #main-content dl.post:not(.docutils) dl dt {
  margin-bottom: 6px;
  border: none;
  border-left: solid 3px #ccc;
  background: #f0f0f0;
  color: #555;
}

main.bd-content #main-content dl.get:not(.docutils) dl dt .headerlink,
main.bd-content #main-content dl.put:not(.docutils) dl dt .headerlink,
main.bd-content #main-content dl.delete:not(.docutils) dl dt .headerlink,
main.bd-content #main-content dl.post:not(.docutils) dl dt .headerlink {
  color: #404040;
  font-size: 100% !important;
}

main.bd-content #main-content dl.get:not(.docutils) tt,
main.bd-content #main-content dl.put:not(.docutils) tt,
main.bd-content #main-content dl.delete:not(.docutils) tt,
main.bd-content #main-content dl.post:not(.docutils) tt {
  font-weight: bold;
  font-weight: bold;
}

main.bd-content #main-content dl.get:not(.docutils) code,
main.bd-content #main-content dl.put:not(.docutils) code,
main.bd-content #main-content dl.delete:not(.docutils) code,
main.bd-content #main-content dl.post:not(.docutils) code {
  font-weight: bold;
}

main.bd-content #main-content dl.get:not(.docutils) tt.descname,
main.bd-content #main-content dl.put:not(.docutils) tt.descname,
main.bd-content #main-content dl.delete:not(.docutils) tt.descname,
main.bd-content #main-content dl.post:not(.docutils) tt.descname {
  background-color: transparent;
  background-color: transparent;
  border: none;
  border: none;
  padding: 0;
  padding: 0;
  font-size: 100% !important;
  font-size: 100% !important;
  font-weight: bold;
  font-weight: bold;
}

main.bd-content #main-content dl.get:not(.docutils) tt.descclassname,
main.bd-content #main-content dl.put:not(.docutils) tt.descclassname,
main.bd-content #main-content dl.delete:not(.docutils) tt.descclassname,
main.bd-content #main-content dl.post:not(.docutils) tt.descclassname {
  background-color: transparent;
  background-color: transparent;
  border: none;
  border: none;
  padding: 0;
  padding: 0;
  font-size: 100% !important;
  font-size: 100% !important;
}

main.bd-content #main-content dl.get:not(.docutils) code.descname,
main.bd-content #main-content dl.put:not(.docutils) code.descname,
main.bd-content #main-content dl.delete:not(.docutils) code.descname,
main.bd-content #main-content dl.post:not(.docutils) code.descname {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 100% !important;
  font-weight: bold;
}

main.bd-content #main-content dl.get:not(.docutils) code.descclassname,
main.bd-content #main-content dl.put:not(.docutils) code.descclassname,
main.bd-content #main-content dl.delete:not(.docutils) code.descclassname,
main.bd-content #main-content dl.post:not(.docutils) code.descclassname {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 100% !important;
}

main.bd-content #main-content dl.get:not(.docutils) .optional,
main.bd-content #main-content dl.put:not(.docutils) .optional,
main.bd-content #main-content dl.delete:not(.docutils) .optional,
main.bd-content #main-content dl.post:not(.docutils) .optional {
  display: inline-block;
  padding: 0 4px;
  color: #000;
  font-weight: bold;
}

main.bd-content #main-content dl.get:not(.docutils) .property,
main.bd-content #main-content dl.put:not(.docutils) .property,
main.bd-content #main-content dl.delete:not(.docutils) .property,
main.bd-content #main-content dl.post:not(.docutils) .property {
  display: inline-block;
  padding-right: 8px;
}

main.bd-content #main-content dl.get .viewcode-link,
main.bd-content #main-content dl.put .viewcode-link,
main.bd-content #main-content dl.delete .viewcode-link,
main.bd-content #main-content dl.post .viewcode-link {
  display: inline-block;
  color: #27AE60;
  font-size: 80%;
  padding-left: 24px;
}

main.bd-content #main-content table.table.autosummary td,
main.bd-content #main-content table.table.autosummary th {
  padding-top: 0;
  padding-bottom: 0;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

  .wy-table-responsive table td,
  .wy-table-responsive table th {
    /* !important prevents the common CSS stylesheets from overriding this as on RTD
        they are loaded after this stylesheet */
    white-space: normal !important;
  }

  .wy-table-responsive {
    overflow: visible !important;
  }
}
