# This Software (Dioptra) is being made available as a public service by the
# National Institute of Standards and Technology (NIST), an Agency of the United
# States Department of Commerce. This software was developed in part by employees of
# NIST and in part by NIST contractors. Copyright in portions of this software that
# were developed by NIST contractors has been licensed or assigned to NIST. Pursuant
# to Title 17 United States Code Section 105, works of NIST employees are not
# subject to copyright protection in the United States. However, NIST may hold
# international copyright in software created by its employees and domestic
# copyright (or licensing rights) in portions of software that were assigned or
# licensed to NIST. To the extent that NIST holds copyright in this software, it is
# being made available under the Creative Commons Attribution 4.0 International
# license (CC BY 4.0). The disclaimers of the CC BY 4.0 license apply to all parts
# of the software developed or licensed by NIST.
#
# ACCESS THE FULL CC BY 4.0 LICENSE HERE:
# https://creativecommons.org/licenses/by/4.0/legalcode
name: Docker images

on:
  schedule:
    - cron: "0 3 * * *" # everyday at 3am
  push:
    branches:
      - "main"
      - "dev"
    tags:
      - "*.*.*"
  pull_request:
    branches:
      - "main"
      - "dev"

env:
  PROJECT_PREFIX: dioptra

jobs:
  build-docker-dioptra-apps:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        dioptra-app:
          - nginx
          - mlflow-tracking
          - restapi
          - pytorch-cpu
          - tensorflow2-cpu
        # - pytorch-gpu # CUDA installation exceeds GitHub runner disk space
        # - tensorflow2-gpu # CUDA installation exceeds GitHub runner disk space

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/remove-extra-software

      - name: install rekor-cli
        uses: ./.github/actions/install-rekor-cli

      - name: install cosign
        uses: sigstore/cosign-installer@v3.9.2

      - name: set docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/${{ env.PROJECT_PREFIX }}/${{ matrix.dioptra-app }}
          tags: |
            type=schedule,pattern=nightly
            type=schedule,prefix=nightly-,pattern={{date 'YYYYMMDD'}}
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}},enable=${{ !startsWith(github.ref, 'refs/tags/v0.') }}
            type=sha,format=long,prefix=,suffix=
          labels: |
            org.opencontainers.image.title=${{ matrix.dioptra-app }}
            org.opencontainers.image.description=Provides the ${{ matrix.dioptra-app }} service.
            org.opencontainers.image.authors=NCCoE Artificial Intelligence Team <dioptra@nist.gov>, James Glasbrenner <jglasbrenner@mitre.org>, Harold Booth <harold.booth@nist.gov>, Keith Manville <kmanville@mitre.org>, Julian Sexton <jtsexton@mitre.org>, Michael Andy Chisholm, Henry Choy <hchoy@mitre.org>, Andrew Hand <ahand@mitre.org>, Bronwyn Hodges <bhodges@mitre.org>, Paul Scemama, Dmitry Cousin <dmitry.cousin@nist.gov>, Eric Trapnell <eric.trapnell@nist.gov>, Mark Trapnell <mark.trapnell@nist.gov>, Howard Huang <hhuang@mitre.org>, Paul Rowe <prowe@mitre.org>, Alexander Byrne <alexanderbyrne@mitre.org>, Luke Barner, Cory Miniter
            org.opencontainers.image.vendor=National Institute of Standards and Technology
            org.opencontainers.image.url=https://github.com/usnistgov/dioptra
            org.opencontainers.image.source=https://github.com/usnistgov/dioptra
            org.opencontainers.image.documentation=https://pages.nist.gov/dioptra
            org.opencontainers.image.licenses=NIST-PD OR CC-BY-4.0

      - name: set up docker qemu
        uses: docker/setup-qemu-action@v3

      - name: set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

      - name: build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          target: final
          push: true
          load: true
          file: docker/Dockerfile.${{ matrix.dioptra-app }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          no-cache: true
          pull: true

      - name: extract first image tag
        id: extract_tag
        run: |
          IMAGE_TAG="$(echo ${{ steps.meta.outputs.tags }} | cut -d',' -f1)"
          echo "Using image tag: $IMAGE_TAG"
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: generate cosign payload
        id: gen_cosign_payload
        run: |
          IMAGE="${{ steps.extract_tag.outputs.image_tag }}"
          mkdir -p "${{ github.workspace }}/tmp"
          cosign generate "${IMAGE}" > ${{ github.workspace }}/tmp/image_payload.json
          echo "payload=$(cat ${{ github.workspace }}/tmp/image_payload.json)" >> $GITHUB_OUTPUT

      - uses: ./.github/actions/sign-payload-fips
        id: sign_payload_fips
        with:
          payload: ${{ steps.gen_cosign_payload.outputs.payload }}
          private-key: ${{ secrets.DIOPTRA_PRIVATE_KEY }}
          public-key: ${{ secrets.DIOPTRA_PUBLIC_KEY }}

      - name: attach openssl signature using cosign
        run: |
          IMAGE="${{ steps.extract_tag.outputs.image_tag }}"
          echo "${{ steps.sign_payload_fips.outputs.signature }}" | tr -d '\n' > ${{ github.workspace }}/tmp/payload_b64.sig
          cosign attach signature --payload "${{ github.workspace }}/tmp/image_payload.json" --signature "${{ github.workspace }}/tmp/payload_b64.sig" "${IMAGE}"

      - uses: ./.github/actions/create-rekor-entry
        id: create_rekor_entry
        with:
          payload: ${{ steps.gen_cosign_payload.outputs.payload }}
          public-key: ${{ secrets.DIOPTRA_PUBLIC_KEY }}
          signature: ${{ steps.sign_payload_fips.outputs.signature }}

      - name: verify Rekor entry
        run: |
            UUID="${{ steps.create_rekor_entry.outputs.uuid }}"
            echo "Checking Rekor for UUID=${UUID}"
            rekor-cli get --uuid "${UUID}" --rekor_server https://rekor.sigstore.dev

      - name: cosign verify
        run: |
            IMAGE="${{ steps.extract_tag.outputs.image_tag }}"
            echo "${{ secrets.DIOPTRA_PUBLIC_KEY }}" > "${{ github.workspace }}/tmp/dioptra.pub"
            cosign verify --key "${{ github.workspace }}/tmp/dioptra.pub" "${IMAGE}"
