# This Software (Dioptra) is being made available as a public service by the
# National Institute of Standards and Technology (NIST), an Agency of the United
# States Department of Commerce. This software was developed in part by employees of
# NIST and in part by NIST contractors. Copyright in portions of this software that
# were developed by NIST contractors has been licensed or assigned to NIST. Pursuant
# to Title 17 United States Code Section 105, works of NIST employees are not
# subject to copyright protection in the United States. However, NIST may hold
# international copyright in software created by its employees and domestic
# copyright (or licensing rights) in portions of software that were assigned or
# licensed to NIST. To the extent that NIST holds copyright in this software, it is
# being made available under the Creative Commons Attribution 4.0 International
# license (CC BY 4.0). The disclaimers of the CC BY 4.0 license apply to all parts
# of the software developed or licensed by NIST.
#
# ACCESS THE FULL CC BY 4.0 LICENSE HERE:
# https://creativecommons.org/licenses/by/4.0/legalcode
name: Docker images

on:
  schedule:
    - cron: "0 3 * * *" # everyday at 3am
  push:
    branches:
      - "main"
      - "dev"
    tags:
      - "*.*.*"
  pull_request:
    branches:
      - "main"
      - "dev"

env:
  PROJECT_PREFIX: dioptra

jobs:
  build-docker-dioptra-apps:
    runs-on: ubuntu-22.04

    strategy:
      matrix:
        dioptra-app:
          - nginx
        # - mlflow-tracking
        # - restapi
        # - pytorch-cpu
        # - tensorflow2-cpu
        # - pytorch-gpu # CUDA installation exceeds GitHub runner disk space
        # - tensorflow2-gpu # CUDA installation exceeds GitHub runner disk space

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/remove-extra-software

      - name: install rekor-cli
        uses: ./.github/actions/install-rekor-cli

      - name: install cosign
        uses: sigstore/cosign-installer@v3.9.2

      - name: set docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/${{ env.PROJECT_PREFIX }}/${{ matrix.dioptra-app }}
          tags: |
            type=schedule,pattern=nightly
            type=schedule,prefix=nightly-,pattern={{date 'YYYYMMDD'}}
            type=ref,event=branch
            type=ref,event=pr
            type=ref,event=tag
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}},enable=${{ !startsWith(github.ref, 'refs/tags/v0.') }}
            type=sha,format=long,prefix=,suffix=
          labels: |
            org.opencontainers.image.title=${{ matrix.dioptra-app }}
            org.opencontainers.image.description=Provides the ${{ matrix.dioptra-app }} service.
            org.opencontainers.image.authors=NCCoE Artificial Intelligence Team <dioptra@nist.gov>, James Glasbrenner <jglasbrenner@mitre.org>, Harold Booth <harold.booth@nist.gov>, Keith Manville <kmanville@mitre.org>, Julian Sexton <jtsexton@mitre.org>, Michael Andy Chisholm, Henry Choy <hchoy@mitre.org>, Andrew Hand <ahand@mitre.org>, Bronwyn Hodges <bhodges@mitre.org>, Paul Scemama, Dmitry Cousin <dmitry.cousin@nist.gov>, Eric Trapnell <eric.trapnell@nist.gov>, Mark Trapnell <mark.trapnell@nist.gov>, Howard Huang <hhuang@mitre.org>, Paul Rowe <prowe@mitre.org>, Alexander Byrne <alexanderbyrne@mitre.org>, Luke Barner, Cory Miniter
            org.opencontainers.image.vendor=National Institute of Standards and Technology
            org.opencontainers.image.url=https://github.com/usnistgov/dioptra
            org.opencontainers.image.source=https://github.com/usnistgov/dioptra
            org.opencontainers.image.documentation=https://pages.nist.gov/dioptra
            org.opencontainers.image.licenses=NIST-PD OR CC-BY-4.0

      - name: set up docker qemu
        uses: docker/setup-qemu-action@v3

      - name: set up docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

      - name: build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          target: final
          push: true
          load: true
          file: docker/Dockerfile.${{ matrix.dioptra-app }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          no-cache: true
          pull: true

      - name: extract first image tag
        id: extract_tag
        run: |
          IMAGE_TAG="$(echo ${{ steps.meta.outputs.tags }} | cut -d',' -f1)"
          echo "Using image tag: $IMAGE_TAG"
          echo "image_tag=$IMAGE_TAG" >> $GITHUB_OUTPUT

      - name: generate cosign payload
        id: gen_cosign_payload
        run: |
          IMAGE="${{ steps.extract_tag.outputs.image_tag }}"
          mkdir -p "${{ github.workspace }}/tmp"
          cosign generate "${IMAGE}" > ${{ github.workspace }}/tmp/image_payload.json
          echo "payload=$(cat ${{ github.workspace }}/tmp/image_payload.json)" >> $GITHUB_OUTPUT

      - uses: ./.github/actions/sign-payload-fips
        id: sign_payload_fips
        with:
          payload: ${{ steps.gen_cosign_payload.outputs.payload }}
          private-key: ${{ secrets.DIOPTRA_PRIVATE_KEY }}
          public-key: ${{ secrets.DIOPTRA_PUBLIC_KEY }}

      - name: attach openssl signature using cosign
        run: |
          IMAGE="${{ steps.extract_tag.outputs.image_tag }}"
          echo "${{ steps.sign_payload_fips.outputs.signature }}" | tr -d '\n' > ${{ github.workspace }}/tmp/payload_b64.sig
          cosign attach signature --payload "${{ github.workspace }}/tmp/image_payload.json" --signature "${{ github.workspace }}/tmp/payload_b64.sig" "${IMAGE}"

      - uses: ./.github/actions/create-rekor-entry
        id: create_rekor_entry
        with:
          payload: ${{ steps.gen_cosign_payload.outputs.payload }}
          public-key: ${{ secrets.DIOPTRA_PUBLIC_KEY }}
          signature: ${{ steps.sign_payload_fips.outputs.signature }}

#     - name: sign cosign payload with FIPS OpenSSL (via docker run)
#       run: |
#           APP_NAME=${{ env.PROJECT_PREFIX }}_${{ matrix.dioptra-app }}
#           docker run --rm \
#               -v "${{ github.workspace }}:/work" \
#               -e APP_NAME=$APP_NAME \
#               registry.access.redhat.com/ubi8/ubi:8.6 \
#               bash -c '
#               dnf install -y openssl && dnf clean all && \
#               echo "${{ secrets.DIOPTRA_PRIVATE_KEY }}" > dioptra_fips.pem && \
#               chmod 400 dioptra_fips.pem && \
#               openssl version && \
#               openssl dgst -sha256 \
#                   -sign dioptra_fips.pem \
#                   -out /work/tmp/${APP_NAME}.sig \
#                   /work/tmp/${APP_NAME}_payload.json && \
#               shred -u dioptra_fips.pem
#           '
#     - name: verify cosign payload signature with FIPS OpenSSL (via docker run)
#       run: |
#           docker run --rm \
#               -v "${{ github.workspace }}:/work" \
#               -e APP_NAME=${{ env.PROJECT_PREFIX }}_${{ matrix.dioptra-app }} \
#               registry.access.redhat.com/ubi8/ubi:8.6 \
#               bash -c '
#               dnf install -y openssl && \
#               echo "${{ secrets.DIOPTRA_PUBLIC_KEY }}" > tmp/${{ env.PROJECT_PREFIX }}.pub && \
#               openssl dgst -sha256 \
#                   -verify tmp/${{ env.PROJECT_PREFIX }}.pub \
#                   -signature /work/tmp/${APP_NAME}.sig \
#                   /work/tmp/${APP_NAME}_payload.json
#               '
#     - name: attach openssl signature using cosign
#       run: |
#           APP_NAME=${{ env.PROJECT_PREFIX }}_${{ matrix.dioptra-app }}
#           IMAGE=ghcr.io/${{ steps.extract_tag.outputs.image_tag }} 
#           base64 < tmp/${APP_NAME}.sig | tr -d '\n' > tmp/${APP_NAME}_b64.sig
#           cosign attach signature \
#             --payload tmp/${APP_NAME}_payload.json \
#             --signature tmp/${APP_NAME}_b64.sig \
#             $IMAGE
#     - name: build JSON rekor entry
#       id: rekor_build_json
#       run: |
#           APP_NAME=${{ env.PROJECT_PREFIX }}_${{ matrix.dioptra-app }}
#           HASH=$(sha256sum tmp/${APP_NAME}_payload.json | cut -d ' ' -f1
#           echo "${{ secrets.DIOPTRA_PUBLIC_KEY }}" > tmp/${{ env.PROJECT_PREFIX }}.pub )
#           # Signature and pub key must be base64
#           SIG_CONTENT_B64=$(base64 < tmp/${APP_NAME}.sig | tr -d '\n')
#           PUB_KEY_B64=$(base64 < tmp/${{ env.PROJECT_PREFIX }}.pub | tr -d '\n')
#           # Write the JSON
#           cat <<EOF > tmp/rekor_payload.json
#           {
#               "apiVersion": "0.0.1",
#               "kind": "hashedrekord",
#               "spec": {
#                   "data": {
#                       "hash": {
#                           "algorithm": "sha256",
#                           "value": "$HASH"
#                       }
#                   },
#                   "signature": {
#                       "content": "$SIG_CONTENT_B64",
#                       "publicKey": {
#                           "content": "$PUB_KEY_B64"
#                       }
#                   }
#               }
#           }
#           EOF
#           echo "Rekor payload:"
#           jq . tmp/rekor_payload.json
#     - name: upload JSON rekor entry
#       id: rekor_upload
#       run: |
#           APP_NAME=${{ env.PROJECT_PREFIX }}_${{ matrix.dioptra-app }}
#           # Get the http response code and body
#           RESPONSE_AS_FILE=$(mktemp)
#           STATUS_CODE=$(curl -s -w "%{http_code}" -o "$RESPONSE_AS_FILE" -X POST \
#              -H "Content-Type: application/json" \
#              -d @tmp/rekor_payload.json \
#              https://rekor.sigstore.dev/api/v1/log/entries)
#           RESPONSE_BODY=$(cat "$RESPONSE_AS_FILE")
#           echo "rekor response:"
#           echo "$RESPONSE_BODY"
#           if [ "$STATUS_CODE" == "409" ]; then
#               echo "Rekor entry already exists. Checking for an existing UUID."
#               UUID=$(echo "$RESPONSE_BODY" | jq -r '.message' | grep -oE '[a-f0-9]{64,}')
#           elif [ "$STATUS_CODE" == "201" ]; then
#               echo "Rekor entry created successfully."
#               UUID=$(echo "$RESPONSE_BODY" | jq -r 'keys[0]')
#           else
#               echo "Unexpected HTTP status code: $STATUS_CODE"
#               exit 1
#           fi
#           if [[ ! "$UUID" =~ ^[a-f0-9]{64,}$ ]]; then
#               echo "Invalid UUID found: $UUID"
#               exit 1
#           fi
#           echo "rekor UUID"
#           echo "$UUID"
#           echo "UUID=$UUID" >> $GITHUB_OUTPUT

      - name: verify Rekor entry
        run: |
            UUID="${{ steps.create_rekor_entry.outputs.uuid }}"
            echo "Checking Rekor for UUID=${UUID}"
            rekor-cli get --uuid "${UUID}" --rekor_server https://rekor.sigstore.dev

      - name: cosign verify
        run: |
            IMAGE="${{ steps.extract_tag.outputs.image_tag }}"
            echo "${{ secrets.DIOPTRA_PUBLIC_KEY }}" > "${{ github.workspace }}/tmp/dioptra.pub"
            cosign verify --key "${{ github.workspace }}/tmp/dioptra.pub" "${IMAGE}"
