# This Software (Dioptra) is being made available as a public service by the
# National Institute of Standards and Technology (NIST), an Agency of the United
# States Department of Commerce. This software was developed in part by employees of
# NIST and in part by NIST contractors. Copyright in portions of this software that
# were developed by NIST contractors has been licensed or assigned to NIST. Pursuant
# to Title 17 United States Code Section 105, works of NIST employees are not
# subject to copyright protection in the United States. However, NIST may hold
# international copyright in software created by its employees and domestic
# copyright (or licensing rights) in portions of software that were assigned or
# licensed to NIST. To the extent that NIST holds copyright in this software, it is
# being made available under the Creative Commons Attribution 4.0 International
# license (CC BY 4.0). The disclaimers of the CC BY 4.0 license apply to all parts
# of the software developed or licensed by NIST.
#
# ACCESS THE FULL CC BY 4.0 LICENSE HERE:
# https://creativecommons.org/licenses/by/4.0/legalcode
name: Publish to Test PyPI

on:
    workflow_dispatch:
        inputs:
            version:
              description: 'Use during test to quickly specify a version'
              required: true
    push:
      branches:
        - et-955

jobs:
    # get-version:
    #     name: Extract project version
    #     runs-on: ubuntu-24.04
    #     outputs:
    #         version: ${{ steps.extract-version.outputs.version }}
    #     steps:
    #         - name: Checkout code
    #           uses: actions/checkout@v5
            
    #         - name: Extract project version
    #           id: extract-version
    #           run: |
    #             VERSION=$(python3 -c "import toml; toml_dict = toml.load('pyproject.toml'); print(toml_dict['project']['version'])")
    #             echo "pyproject.toml version=$VERSION"
    #             echo "version=$VERSION" >> "$GITHUB_OUTPUT"

    build-and-publish:
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Set up python
              uses: actions/setup-python@v6
              with:
                python-version: '3.11'

            - name: Install build and twine
              run: |
                python -m pip install --upgrade pip
                pip install build twine

            - name: Build package
              run: python -m build

            - name: Publish package to Test PyPI
              env:
                TWINE_USERNAME: __token__
                TWINE_PASSWORD: ${{ secrets.TEST_PYPI_API_TOKEN }}
              run: twine upload --repository testpypi dist/*


    build-images:
      name: Call docker-images.yml
      needs: [build-and-publish]
      uses: ./.github/workflows/docker-images.yml
      with:
        version: ${{ inputs.version }}
        use_pypi: true